* {
    position: fixed;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-family: sans-serif;
    transition: all .4s ease;
}

html, body {
    height: 450;
    width: 800;
}

canvas {
    box-shadow: 0 0 0 2px #000;
}

#message {
    position: absolute;
    left: 50;
    right: 50;
    top: 300;
    bottom: 50;
    background: #fffa;
    color: #000;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #000;
    border-radius: 10px;
}

#message > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    opacity: 0%;
}